[patchwork]
server = patchwork.kernel.org
project = Linux RISC-V

[poller]
recheck_period = 0
recheck_lookback = 48

[dirs]
tests = tests_rv
trees = trees_rv

[trees]
for-next = for-next,for-next,origin,origin/for-next
fixes = fixes,fixes,origin,origin/fixes
