[patchwork]
server = patchwork.kernel.org
project = Linux RISC-V

[dirs]
tests = /home/bjorn/src/workflow/nipa/tests_rv
trees = /home/bjorn/src/workflow/nipa/trees_rv

[trees]
for-next = for-next,for-next,origin,origin/for-next
fixes = fixes,fixes,origin,origin/fixes
